@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,700|Six+Caps';

/* Eric Meyer CSS Reset begins */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Eric Meyer CSS Reset ends */

body{
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 1.25;
}

#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/subtle_white_feathers.png');
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

/* header sizes */
header{
    margin-left: 10px;
}
.headerimage{ 
    background:url(../images/ArienneJohnson.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 350px;
    height: 56px;
}
h1{
    font-size: 200%;
}

h2{ 
    font-size: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/*page covers*/
h1, h2, h3{
    font-weight: 700;
    text-transform: uppercase;
}

h3{
    font-size: 200%;
    padding-right: 35px;
    margin: 0px; 
    
}

#homepageheader{
    
    text-shadow: 5px 4px 6px rgba(255, 255, 255, 0.93);
    z-index: 20;
    margin-top: 20px;
    font-size: 150%;
    max-width: 150%;
    margin-left: auto;
    margin-right: auto;
    
}

h4{
    margin: 15px;
    font-size: 140%;
    text-align: center;
    padding-left: 0px;

}
.pagecover1{
    font-size: 90%;
    height: 800px;
    position: relative;
    color: aliceblue;

}

.aboutcover{
    font-size: 80%;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 0px;
    text-align: right;
    background-size: contain;
    height: 800px;
    width: 960px;
  width: 100%;
    background-image: url(../images/covers/about.jpg);
    background-repeat: no-repeat;
    color: aliceblue;

}
.aboutcover:after {
	display: block; 
	width: 100%; 
	padding-top: 4.918%; /* slope */
	height: 102.786px; /* start height */
}

.webcover{
    font-size: 90%;
    color: black;
        text-shadow: 5px 4px 6px rgba(105, 100, 100, 0.74);

    padding-left: 50px;
    padding-top: 100px;
    height: 800px;
    background-image: url(../images/covers/coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.webcover:after {
	display: block; 
	width: 100%; 
	padding-top: 4.918%; /* slope */
	height: 102.786px; /* start height */
}


.graphiccover{
    font-size: 90%;
    max-width:100%;
    color: white;
    text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.93);
    height: 800px;
    background-image: url(../images/covers/Glow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.graphiccover:after {
	display: block; 
	width: 100%; 
	padding-top: 4.918%; /* slope */
	height: 102.786px; /* start height */
}

.photosvideoscover{

	max-width: 100%; /* actual img width */
	height: 800px; /* actual img height - IE7 */
    text-shadow: 5px 4px 6px rgba(255, 255, 255, 0.72);
    font-size: 95%;

	background-image: url(../images/covers/photographycover.JPG);
    padding-top: 100px;
    background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.photosvideoscover:after {
	display: block; 
	width: 100%; 
	padding-top: 4.918%; /* slope */
	height: 102.786px; /* start height */
}



/* body of intro/homepage */
#intro{
    text-align: center;
    margin-top: 20px;
}
.contact{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 92%;
    max-width: 400px;
}

/* NAVIGATION CSS*/
nav{
     border-bottom: 2px black solid;   

}
/* puts nav bar horizontal*/
nav li {
    display: inline;
    margin-right: 1.5%;
}

/*links styling, with hover transitions*/
a{
    color: #05916c;
    text-decoration: none;
    text-transform: uppercase;
}
nav a{
    font-size: 75%;
    color: #05916c;
    text-decoration: none;
    text-transform: uppercase;
    transition:0s;

}

nav a:hover{
    color: deeppink;
    transition:0.3s;

}
/* spacing */
h3, p, footer{
    margin-bottom: 25px;
}

/* Homepage buttons */

.button{
    font-size: 150%;
    text-align: center;
    margin: 25px;
    padding: 5px;
    max-width: 600px;
    border: 2px #05916c solid;
    background-color: floralwhite;
    transition: 0s;
}

.button:hover{
    background-color: rgba(5, 145, 64, 0.13);
    transition:0.4s;
}
.buttons{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}
.button, .buttons{
    margin-left: auto;
    margin-right: auto;
}

#profile{
   width:20%;
    margin-left: auto;
    margin-right: auto;
   
}
.bio{
    text-align: center;
}

/* homepage slideshow (jQuery) */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: absolute;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



.mockups{
    height: 45%;
    width: 45%;
    margin: 10px;
    text-align: center;
}

/* youtube video*/

.video{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: ;
    width: ;
    
}

.video iframe{
    
    position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 60%;
}

.videography{
    text-align: left;
}
/*footer style*/
footer{
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin: 0px;
}

footer a{
    color: #05916c;
    transition: 0s;
}

footer a:hover{
    color: deeppink;
    transition: 0.3s;
}




/* MEDIA QUERY FOR 845px SCREENS OR SMALLER STARTS*/
@media only screen and (max-width: 845px){
    
.graphiccover, .aboutcover, .webcover, .photosvideoscover{
        height:450px;
    }
    



/* MEDIA QUERY FOR 645px SCREENS OR SMALLER STARTS*/
@media only screen and (max-width: 645px){
    
    .graphiccover, .aboutcover, .webcover, .photosvideoscover{
        height:300px;
    }
    
}



/* MEDIA QUERY FOR 345px SCREENS OR SMALLER STARTS*/
@media only screen and (max-width: 345px){
    
.graphiccover, .aboutcover, .webcover, .photosvideoscover{
        height:120px;
    }
    
    .photosvideoscover{
        font-size: 70%; 
        text-shadow: 5px 4px 6px rgba(255, 255, 255, 0.94);
        
    }
    
    .video{
        max-width: 345px;
    }
    
}




